.fund_container {
    box-sizing: border-box;
    flex: 1;
    width: 1px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25px 0px 25px;
    max-width: 1200px;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 135px;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.fund_sub_container {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 100px;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.fund_sub_sub_container {
    flex: 1;
    width: 1px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    padding: 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 32px;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.fund_text {
    width: 100%;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.2;
    position: absolute;
}

.fund_subheading_text {
    width: 100%;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    color: #000000;
    line-height: 1.2;
    position: absolute;
}

.fund_button_text {
    
}

.fund_image_container {
    flex: 1;
    width: 1px;
    height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    image-rendering: auto;
    background-image: url(/* Socious Fund Hero.jpg */);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 28px;
}